body {
    font-size: 22px;
}

.game {
    margin: auto;
    margin-top: 50px;
    padding: 15px;
    width: 250px;
    background-color: #c9c8c8;
}

.title, .titleMode {
    margin-top: 10px;
    display: block;
    text-align: center;
}

button {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 160px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

button:disabled {
    cursor: auto;
}

.gameField {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
    width: 216px;
    height: 216px;
    background-color: #fff;
    border: 1px solid #000000;
}

.cell {
    position: relative;
    width: 70px;
    height: 70px;
    border: 1px solid #000000;
    font-size: 45px;
    text-align: center;
    line-height: 70px;
}

.selectable:hover {
    background-color: rgb(211, 203, 203);
}

.pointer {
    cursor: pointer;
}

.cross, 
.cross:hover {
    background-color: #a6d2fc;
    cursor: auto;
    user-select: none;
}

.nought, 
.nought:hover {
    background-color: #f89b9b;
    cursor: auto;
    user-select: none;
}

.score {
    margin-top: 10px;
    display: block;
    text-align: center;
}

.scoreBlock {
    margin-top: 10px;
    text-align: center;
}

.crossesScore,
.noughtsScore {
    font-size: 22px;
    color: #4f4fc5;
    margin-left: 5px;
    margin-right: 5px;
}

.noughtsScore {
    color: #c54f4f;
}
